source .screenlayout/arch-i3-dpi-fix.sh
#source .fehbg 
#xrandr --output eDP-1 --primary --mode 1920x1080 --pos 1200x0 --rotate normal --output HDMI-2 --off
# .xprofile or .xinitrc
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

synergyc 10.0.1.16

# remove system beep sound
xset -b
